$variant: 'dark';

@import "palette";

$accent_color: #5e81ac;
$other_accent_color: #d8dee9;

@import "colors";
@import "_drawing";
@import "_common";
@import "_widgets";

@import "panel";
@import "osd";
@import "slider";