$panel_bg_color: darken($accent_color, 30%);
$panel_fg_color: if($variant =='light', $fg_color, darken($fg_color, 5%));
$panel_border_color: if($variant =='light', darken($panel_bg_color, 2%), $panel_bg_color);

$panel_system_fg_color: $system_fg_color; // always light for lockscreen, overview and other transparent panels
$panel_height: 1.25em;
$panel_transition_duration: 250ms; // same as the overview transition duration

#panel {
    background-color: $panel_bg_color;
    color: $panel_fg_color;
    height: $panel_height;

    margin: 0 5px 5px 5px;
    border-radius: 10px;

    &.unlock-screen,
    &.login-screen,
    &:overview {
        background-color: transparent;
        box-shadow: none;

        .panel-button {
            color: $panel_system_fg_color !important;
        }
    }

    .panel-button {
        color: $panel_fg_color;
        border-radius: 10px;
        -natural-hpadding: $base_padding * 2;
        -minimum-hpadding: $base_padding;

        &.clock-display {
            .clock {
                border-radius: 10px;
            }
        }
    }
}

.popup-menu-item {

    &:hover,
    &:focus {
        background-color: darken($accent_color, 20%) !important;
    }
}

.search-entry {
    border-color: darken($accent_color, 30%);
}

.quick-settings {
    border-radius: $modal_radius;
}