$slider_size: 42px;

.android-slider, .quick-slider {
  color: $selected_fg_color;
  padding: 0;
  // slider trough
  height: 42px;
  -barlevel-height: 42px;
  -barlevel-inactive-height: 4px;
  -barlevel-background-color: if($variant == 'light', transparentize($fg_color, 0.6), transparentize($fg_color, 0.8)); //background of the trough
  -barlevel-border-width: 0px; 
  -barlevel-border-color: transparent; // trough border color
  // fill style
  -barlevel-active-background-color: $selected_bg_color;
  -barlevel-active-border-color: transparent;
  // overfill style (red in this case)
  -barlevel-overdrive-color: $destructive_color;
  -barlevel-overdrive-border-color: transparent; //trough border when red;
  -barlevel-overdrive-separator-width:1px;
  // slider handlerbase_padding
  -slider-handle-radius: $slider_size * 0.5; // half the size of the size
  -slider-handle-filter: invert(100%);
  -slider-handle-border-width: 0;
  -slider-handle-border-color: transparent; // because 0 width
}

.quick-slider {
  & > StBoxLayout { spacing: 0; }

  .icon-button { padding: 0; }

  .slider-bin {
    &:focus {@include button(focus);}
    min-height: 16px; // slider size
    padding: 0;
    border-radius: 99px;
  }
}