.android-slider, .quick-slider {
    height: 42px;
    -barlevel-height: 42px;
    -barlevel-inactive-height: 4px;
}

.quick-slider>StBoxLayout {
    spacing: 0;
}

.quick-slider .icon-button,
.quick-slider .background-app-item .close-button,
.background-app-item .quick-slider .close-button,
.quick-slider .login-dialog-button.cancel-button,
.quick-slider .login-dialog-button.switch-user-button,
.quick-slider .login-dialog-button.login-dialog-session-list-button {
    padding: 0;
}

.quick-slider .slider-bin {
    min-height: 16px;
    padding: 0;
    border-radius: 99px;
}

.quick-slider .slider-bin:focus {
    transition-duration: 100ms;
    color: white;
    background-color: #4a5869;
    box-shadow: inset 0 0 0 2px rgba(216, 222, 233, 0.6) !important;
}

.quick-slider .slider-bin:focus:hover {
    background-color: #4f5e71;
    box-shadow: inset 0 0 0 2px rgba(216, 222, 233, 0.7) !important;
}

.quick-slider .slider-bin:focus:active {
    background-color: #55657a;
    box-shadow: inset 0 0 0 2px rgba(216, 222, 233, 0.7) !important;
}